<!doctype html>
<html lang="fr" ng-app="babitchApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>babitch by Team Cytron</title>
    <link href="//fonts.googleapis.com/css?family=Sintony:400,700" rel="stylesheet" type="text/css">
    <link href="css/app.css"  rel="stylesheet" type="text/css">
    <script src="lib/angular/angular.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-init="initGame()">
    <div id="game" ng-controller="babitchCtrl">
        <div class="score">
            <ul ng-show="gameStarted">
                <li>{{ game.red_score }}</li>
                <li>{{ game.blue_score }}</li>
            </ul>
            <div ng-hide="gameStarted">Composition des équipes</div>
        </div>

        <div class="players">
            <ul>
                <li ng-repeat="player in game.player" ng-class="[player.team, player.position]">
                    <label>{{ player.position }}</label>
                    <select ng-model="player.player_id" ng-disabled="gameStarted" ng-options="player.id as player.name for player in playersList"></select>
                    <div class="spacer"></div>
                    <button ng-show="gameStarted" ng-click="goal(player)">GOAL</button>
                    <div class="spacer"></div>
                    <button ng-show="gameStarted" ng-click="autogoal(player)">CSC</button>
                </li>
            </ul>
        </div>

        <div class="actionStart" ng-show="!gameStarted">
            <button ng-click="startGame()">Start</button>
        </div>

        <div class="actionCoach" ng-show="gameStarted">
            <button ng-click="coach('red')" class="red">Coach</button>
            <button ng-click="coach('blue')" class="blue">Coach</button>
        </div>

        <div class="actionCancel" ng-show="gameStarted">
            <button ng-hide="game.goals.length" ng-click="initGame()">Cancel</button>
            <button ng-show="game.goals.length" ng-click="cancelGoal()">Cancel last goal</button>
        </div>
    </div>
</body>
</html>
